<br>

<p class="text-success"><%= flash[:success].html_safe unless flash[:success].blank? %></p>
<p class="text-danger"><%= flash[:error].html_safe unless flash[:error].blank? %></p>
<h1 style="margin-bottom: 2rem"> Our Product </h1>
<% @products.each do |product| %>
  <div style="display: flex; padding-left: 2rem">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" style="position: center">
      <% if product.primary_image.attached? %>
        <%= image_tag product.primary_image , width: "100%" , height: "240px" %>
      <% else %>
        <img src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" style="width: 100% ; height: 240px" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"> <%= product.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: <%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></li>
        <li class="list-group-item">Stock: <%= product.stock %></li>
      </ul>
      <div class="card-body">
        <li class="text-primary"><%= link_to 'Show', admins_product_path(product)%></li>
      </div>
    </div>
<% end %>

  </div>


