<br>
<div>
  <% if admin_signed_in? %>
    <%= link_to 'New Product', new_admins_product_path %>
    <%= link_to 'New Category', new_category_path%>
    <%= link_to 'Edit/Delete Category', categories_path %>
    <%= link_to 'Order List', "admins/orders" %>
  <%end%>
</div>

<h1 style="margin-bottom: 2rem; margin-top: 2rem"> Our Product </h1>
<% @products.each do |product| %>
  <div style="display: flex;flex-wrap: wrap-reverse;">
    <div class="card" style="width: 18rem; margin-left: 2rem; margin-bottom: 1rem">
      <img class="card-img-top" style="position: center">
      <% if product.primary_image.attached? %>
        <%= image_tag product.primary_image , width: "100%" , height: "240px" %>
      <% else %>
        <img src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" style="width: 100% ; height: 240px" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= product.title %></h5>
        <p class="card-text"> <%= product.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category: <%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></li>
        <li class="list-group-item">Stock: <%= product.stock %></li>
      </ul>
      <div class="card-body">
        <li class="text-primary"><%= link_to 'Show', admins_product_path(product)%></li>
        <% if admin_signed_in? %>
          <li class="text-success'"><%= link_to 'Edit', edit_admins_product_path(product) %></li>
          <li class="text-danger"><%= link_to 'Delete', admins_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <%end %>
        <div style="margin-top: 1rem">
          <%= link_to '<button type="button">Buy Now</button>'.html_safe, admins_product_path(product)%>
        </div>
      </div>

    </div>
<% end %>

</div>