<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Primary image</strong> <br>
  <% if @product.primary_image.attached? %>
    <%= image_tag @product.primary_image , width: "300px" , height: "300px" %>
  <% end %>
</p>

<p>
  <strong>Supporting images</strong> <br>
  <% if @product.supporting_images.attached? %>
    <% @product.supporting_images.each do |image| %>
      <%= image_tag image , width: "100px" , height: "100px" %>
    <%end%>
  <%end%>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<div style="margin-top: 1rem">
  <%= link_to '<button type="button">Place order Here!!!</button>'.html_safe, admins_product_create_order_path(@product)%>
</div>


<%= link_to 'Edit', edit_admins_product_path(@product) %> |
<%= link_to 'Back', admins_products_path %>
