<br>

<p class="text-success"><%= flash[:success].html_safe unless flash[:success].blank? %></p>
<p class="text-danger"><%= flash[:error].html_safe unless flash[:error].blank? %></p>

<h3 class="font-weight-bold">Products</h3>
<% if admin_signed_in? %>
  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'New Category', new_category_path%>
  <%= link_to 'Edit/Delete Category', categories_path %>
<%end%>
<table class="table table-striped">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Desc</th>
    <th scope="col">Stock</th>
    <th scope="col">Category</th>
    <th scope="col">Command</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.stock %></td>
      <td><%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></td>
      <td>
        <li class="text-primary"><%= link_to 'Show', product %></li>
        <li class="text-success'"><%= link_to 'Edit', edit_product_path(product) %></li>
        <li class="text-danger"><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to 'Download CSV File ', products_path(format: :csv) %>></p>
<p><%= form_tag products_csv_upload_path , multipart: true  do  %>
    <%= file_field_tag :csv_file  %>
    <%= submit_tag :submit  %>
  <% end %>
</p>

<br>

