<!DOCTYPE html>
<html>




<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" %>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Commerce</a>
    <div class="navbar-nav mr-auto">
      <% if admin_signed_in? %>
        <div><%= link_to(' Home ', home_index_path) %></div>
        <div><%= link_to " Sign out ", destroy_admin_session_path, :method => :delete %></div>
      <% else %>
        <div><%= link_to(' Home ', admins_products_path) %></div>
        <div><%= link_to(' Sign in ', new_admin_session_path) %></div>
        <div><%= link_to(' Sign up ', new_admin_registration_path) %></div>
      <% end %>
    </div>
  </nav>
    <%= yield %>
    
    

  </body>
</html>
